.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.loader-wrapper .loader path:nth-child(1) {
  stroke-dasharray: 505;
  stroke-dashoffset: 505;
  transform-origin: 3.5625rem 3.9063rem;
  animation: line-animation 2.5s cubic-bezier(0.31, 0, 0.25, 4) forwards, shrinkOut 1.5s ease-in forwards 2.3s;
}
.loader-wrapper .loader-circle {
  stroke: #cbcabc;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-dasharray: 1 666;
  stroke-dashoffset: 666;
  transform-origin: 57px 62.5px;
  animation: snake 2.5s ease-in-out forwards, grow 2.5s ease-in-out forwards, shrinkOut 1.5s ease-in forwards 2.3s;
}

@keyframes snake {
  from {
    stroke-dashoffset: 666;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes grow {
  from {
    stroke-dasharray: 1 666;
  }
  to {
    stroke-dasharray: 666 0;
  }
}
@keyframes line-animation {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes shrinkOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
.hero-video {
  max-width: 100vw;
}

.navbar {
  position: fixed;
  top: 1.8rem;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: white;
  transition: opacity 0.3s ease-in-out;
  z-index: 10;
}
.navbar .logo:hover {
  cursor: pointer;
}
.navbar .menu-button {
  background: white;
  border: none;
  font-size: 1.125rem;
  font-weight: 700;
  color: black;
  font-family: "Suisse", sans-serif;
  transition: opacity 0.3s ease-in-out;
  padding: 0.8rem 1rem;
  border-radius: 1.75rem;
}
.navbar .menu-button:hover {
  cursor: pointer;
}

.logo-image {
  width: 200px;
  height: auto;
  display: block;
  margin: auto;
}

.logo-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.swiper {
  width: 100%;
  margin: 7rem auto;
  overflow: hidden;
  pointer-events: none;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide .logo-text {
  margin-top: 0.6125rem;
  letter-spacing: 0.1875rem;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.375rem;
  opacity: 50%;
}

.swiper-wrapper {
  transition-timing-function: linear !important;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1000;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 2.5rem;
  color: black;
  background: white;
  border: none;
  border-radius: 50%;
  padding: 0.3rem 1rem;
  cursor: pointer;
  z-index: 2000;
}

.modal-links {
  list-style: none;
  padding: 0;
  text-align: center;
}
.modal-links:hover {
  cursor: pointer;
}

.modal-links li {
  font-size: 5.25rem;
  text-transform: uppercase;
  font-family: "Suisse", sans-serif;
  line-height: 5.25rem;
  color: white;
  transform: translateY(100%);
  margin-bottom: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Montreal";
  src: url(./fonts/NeueMontreal-Light.otf);
}
@font-face {
  font-family: "Suisse";
  src: url(./fonts/SuisseIntlTrial-Regular.otf);
}
body {
  font-family: "Montreal";
  background-color: #090808;
  color: white;
  overflow-x: hidden;
}/*# sourceMappingURL=main.css.map */